img {
    width: 300px;

}
.container {
width: 90%;
    margin: 0 auto;
}
header {
     
    /* border: 5px solid rgb(181, 95, 95); */
}
h1 {
    width: 35%;
    color: #ad2c2c;
    text-align: center;
    font-size: 59px;
    margin: 30px 16px;
    font-style: oblique;
    float: left;
}

nav {
    margin-left: 20px;
}
a {
    display: inline-block;
}
nav a {
  
    margin: 30px;
    padding: 10px 20px;
    background: #1f1f8685;
    color: #fff;
    font-family: arial;
    font-size: 21px;
}
.mens {
    border: 5px solid purple;
    padding: 10px;
    
}
h2 {
    text-align: center;
    color: #fff;
    background-color: #a42424;
    padding: 25px 10px;
    font-size: 37px;
    font-family: tahoma;
    -webkit-user-select: ;
}
main a {
display: inline-block;
margin-right: 65px;
}
main a {
    display: inline-block;
    margin-right: 65px;
    background: #ca1cca;
    padding: 5px 10px;
    color: #111010;
    font-family: verdana;
}
/*  position */
.m-shirt-area {
    position: relative;
width: 40%;
}
.m-shoes-area {
    position: relative;
    width: 40%;
}

/* strong {
    position: absolute;
    left: 0;
    right: 0;
} */
.l-dress-area {
    position: relative;
    width: 40%;
} 
.l-shoes-area {
    position: relative;
    width: 40%;
} 

/* position */

footer {
    color: rgb(86, 79, 79);
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0;
    background: ;
}
p {
 margin: 2px 0px;
 font-size: 20px;
}
footer a {
    display: inline-block;
    background: black;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: arial;
    font-weight: 200;

}